In [0]:
 input_data = [(1, "Shivansh", "Data Scientist", "Noida"),
(2, "Rishabh", "Software Developer", "Bangalore"),
(3, "Swati", "Data Analyst", "Hyderabad"),
(4, "Amar", "Data Analyst", "Noida"),
(5, "Arpit", "Android Developer", "Pune"),
(6, "Ranjeet", "Python Developer", "Gurugram"),
(7, "Priyanka", "Full Stack Developer", "Bangalore")] 
schema = ["Id", "Name", "Job Profile", "City"]

In [0]:
df=spark.createDataFrame(data=input_data,schema=schema)
df.display()

Id,Name,Job Profile,City
1,Shivansh,Data Scientist,Noida
2,Rishabh,Software Developer,Bangalore
3,Swati,Data Analyst,Hyderabad
4,Amar,Data Analyst,Noida
5,Arpit,Android Developer,Pune
6,Ranjeet,Python Developer,Gurugram
7,Priyanka,Full Stack Developer,Bangalore

In [0]:
#Method 1: Using collect()

# retrieving all the elements
# of the dataframe using collect()
# Storing in the variable
data_collect = df.collect()

# looping thorough each row of the dataframe
for row in data_collect:
	# while looping through each
	# row printing the data of Id, Name and City
	print(row["Id"],row["Name"]," ",row["City"])

1 Shivansh   Noida
2 Rishabh   Bangalore
3 Swati   Hyderabad
4 Amar   Noida
5 Arpit   Pune
6 Ranjeet   Gurugram
7 Priyanka   Bangalore

In [0]:
#Method 2: Using toLocalIterator()
data_itr = df.rdd.toLocalIterator()

# looping thorough each row of the dataframe
for row in data_itr:

	# while looping through each row printing
	# the data of Id, Job Profile and City
	print(row["Id"]," ",row["Job Profile"]," ",row["City"])

1   Data Scientist   Noida
2   Software Developer   Bangalore
3   Data Analyst   Hyderabad
4   Data Analyst   Noida
5   Android Developer   Pune
6   Python Developer   Gurugram
7   Full Stack Developer   Bangalore

In [0]:
#Using select()
# getting each row of dataframe containing 
# only selected columns Selected columns are 
# 'Name' and 'Salary' getting the list of rows
# with selected column data using collect()
rows_looped = df.select("Name", "City").collect() 
    # printing the data of each row
for rows in rows_looped:
       
        # here index 0 and 1 refers to the data
        # of 'Name' column and 'City' column
        print(rows[0], rows[1])

Shivansh Noida
Rishabh Bangalore
Swati Hyderabad
Amar Noida
Arpit Pune
Ranjeet Gurugram
Priyanka Bangalore